doctype html(lang='en')
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Speckle Streams is an open design communication platform.')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    title Speckle Streams, the open design communication platform.

    link(rel='icon', href='http://streams.speckle.xyz/assets/logo.png', sizes='104x104', type='image/png')

    meta(property='og:url', content='http://streams.speckle.xyz')
    meta(property='og:type', content='website')
    meta(property='og:image', content='http://streams.speckle.xyz/assets/speckle.png')
    meta(property='og:description', content='Speckle Streams: the open design communication platform.')
    meta(property='og:site_name', content='Speckle Streams')

    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@idid')
    meta(name='twitter:creator', content='@idid')
    meta(name='twitter:url', content='http://streams.speckle.xyz')
    meta(name='twitter:title', content='Speckle Streams')
    meta(name='twitter:description', content='Speckle Streams: the open design communication platform.')
    meta(name='twitter:image', content='http://streams.speckle.xyz/assets/speckle.png')


    script(async, src='https://www.google-analytics.com/analytics.js')
    //- script(async, src='https://use.fontawesome.com/f6517e35fb.js')
    script(src='config/config.js')

    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='dist/flexboxgrid.min.css')
    link(rel='stylesheet', href='dist/keen-ui.min.css')
    link(rel='stylesheet', href='index.css')
  body
    #app
      div
        router-view(transition="fade", transition-mode="out-in")
    script(src='dist/keen-ui.min.js')
    script(src='dist/build.js')
